<ion-header>
  <ion-toolbar>
    <ion-title>{{server}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="openConfig()">
        <ion-icon slot="icon-only" ios="cog-sharp" md="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!tabletMode">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="privs">
        <ion-icon name="chatbubble-sharp"></ion-icon>
        <ion-label>{{'PRIVATES.TITLE' | translate}}</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="channels">
        <ion-icon name="chatbubbles-sharp"></ion-icon>
        <ion-label>{{'CHANNELS.TITLE' | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="list">
        <ion-icon name="albums-sharp"></ion-icon>
        <ion-label>{{'LIST.TITLE' | translate}}</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>

<ion-content *ngIf="tabletMode">
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-channels [showFavs]="false"></app-channels>
      </ion-col>
      <ion-col>
        <app-privs></app-privs>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
