// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --ion-toolbar-background: #1c2229;
  --ion-toolbar-color: #96979c;
  --ion-color-primary: #1c2229;
  --ion-color-primary-shade: #2c3540;
  --input-font-color: #1c2229;
  --ion-color-primary-contrast: #96979c;
  --ion-color-secondary: #dcdcdc;
  --ion-background-color: #bdcad4;
  --ion-color-step-850: #1c2229;
  --ion-item-border-color: #30363e;
  --ion-item-color: #1c2229;
  --ion-text-color: #2c2d2e;
  --input-bg-color: #1c2229;
  --ion-tab-bar-background: #2c333b;
  --ion-tab-bar-border-color: black;
  --ion-tab-bar-color: #828282;
  --ion-tab-bar-color-selected: #e0e0e0;
  --ion-overlay-background-color: #bdcad4;
  --placeholder-color: #828282;
  --ion-color-danger: #560e0e;
  --ion-color-danger-shade: #6d1414;
  --ion-color-danger-contrast: #deb2b2;
  --ion-color-warning: #b17c00;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-contrast: #1f1600;
  --ion-color-medium: #44454a;
  --ion-color-tertiary: #2c333b;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-menu-bg: #1c2228;
  --ion-color-success: #4bb91e;
  --ion-color-success-contrast: black;
  --message-box: #ffffffe0;
  --ion-color-primary-rgb: 28,34,41;
  --message-author-color: #181918;

  --ion-color-primary-contrast-rgb: 255,255,255;

  --ion-color-primary-tint: #4c8dff;
  --ion-color-secondary-rgb: 61,194,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast-rgb: 0,0,0;

  --ion-color-warning-tint: #ffca22;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast-rgb: 255,255,255;

  --ion-color-danger-tint: #ed576b;
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-toolbar-background: #0e0e0e;
    --ion-toolbar-color: #727272;
    --ion-color-primary: #0e0e0e;
    --ion-color-primary-shade: #1b1b1b;
    --ion-background-color: #282828;
    --ion-item-color: #948f86;
    --ion-text-color: #948f86;
    --ion-color-step-850: #aeaeae;
    --input-font-color: #aeaeae;
    --input-bg-color: #0e0e0e;
    --ion-tab-bar-background: #1b1b1b;
    --ion-tab-bar-border-color: black;
    --ion-tab-bar-color: #7a7f83;
    --ion-tab-bar-color-selected: #aeaeae;
    --ion-color-danger: #d01010;
    --ion-color-warning: #d0a010;
    --ion-color-success: #4bb91e;
    --placeholder-color: #828282;
    --ion-overlay-background-color: #2d2d2d;
    --ion-item-border-color: #30363e;
    --ion-color-primary-contrast: #96979c;
    --ion-color-secondary: #dcdcdc;
    --ion-color-tertiary: #151515;
    --ion-menu-bg: #1b1b1b;
    --ion-color-danger-contrast: #1d0404;
    --ion-color-warning-contrast: #000000;
    --ion-color-medium: #9e9a91;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-success-contrast: black;
    --message-box: #0e0e0e;
    --ion-color-primary-rgb: 28,34,41;
    --chat-bg-pattern: #3e3e3e;
    --message-author-color: wheat;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


}
