.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .topico {
    padding: 10px 5px;
    background: #f1f1f1;
    border-bottom: 1px solid var(--ion-border-color, #cccccc);
    font-size: 15px;
    overflow-y: scroll;
    width: auto;
    font-style: italic;
    white-space: nowrap;
  }
  .content {
    height: 100%;
    background: url('../../assets/pattern.svg');
    background-color: #c4dece;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    ion-list {
      --background: transparent;
      background-color: transparent;
      ion-item {
        --background: transparent;
        background-color: #ffffffe0;
        border-radius: 10px;
        margin: 10px;
        header {
          font-weight: bold;
          color: #181918;
        }
        section {
          white-space: initial;
        }
      }
    }
    .bubble {
      display: flex;
      margin: 2px 5px;
      background: #abf5afc7;
      padding: 5px;
      border-radius: 10px;
      border: 1px solid #00000082;
      .avatar {
        width: 15vw;
        height: 15vw;
        justify-content: center;
        align-items: center;
        display: inline-flex;
        background: #b0f0b5;
        border-radius: 5px;
        img {
          max-width: 15vw;
          max-height: 15vw;
        }
      }
      .body {
        width: 100%;
        margin-left: 5px;
        header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .name {
            color: #003502;
            font-weight: bold;
          }
          .date {
            margin-right: 5px;
            font-size: 13px;
            font-weight: bold;
            color: #000000d6;
          }
        }
        section {
          font-size: 19px;
        }
      }
    }
  }
  .inputBox {
    padding: 5px;
    background: white;
    border-top: 1px solid var(--ion-border-color, #cccccc);
    input {
      width: 100%;
      border: none;
      padding: 5px 0px;
      outline: none;
    }
  }
}

@media (min-width: 990px) {
  .hide-ipad {
    display: none;
  }
}
