.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .topico {
    padding: 10px 5px;
    background: #f1f1f1;
    border-bottom: 1px solid var(--ion-border-color, #cccccc);
    font-size: 15px;
    overflow-y: scroll;
    width: auto;
    font-style: italic;
    white-space: nowrap;
  }
  .content {
    height: 100%;
    background: url('../../assets/pattern.svg');
    background-color: var(--chat-bg-pattern);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    ion-list {
      --background: transparent;
      background-color: transparent;
      max-height: 100%;
      overflow-y: scroll;
      ion-item {
        --background: transparent;
        background-color: var(--message-box);
        border-radius: 10px;
        margin: 10px;
        box-shadow: inset 0px 0px 15px #bdcad4;
        &.from-memory {
          opacity: 0.85;
        }
        header {
          font-weight: bold;
          color: var(--message-author-color);
          display: flex;
          justify-content: space-between;
          align-items: center;
          .date {
            font-weight: 400;
            font-size: 10px;
          }
        }
        section {
          white-space: initial;
        }
      }
    }
  }
  .inputBox {
    padding: 10px;
    background: var(--ion-tab-bar-background);
    border-top: 1px solid var(--ion-tab-bar-border-color);
    input {
      width: 100%;
      border: none;
      padding: 5px 0px;
      outline: none;
      background: transparent;
      color: var(--ion-tab-bar-color-selected);
    }
  }
}

.newMessages {
  position: fixed;
  z-index: 1;
  bottom: 52px;
  width: 200px;
  left: calc(50vw - 100px);
  background: #1c2229;
  color: #ffa9a9;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0px;
}

ion-menu {
  ion-content {
    --background: var(--ion-menu-bg);
    ion-list {
      background: var(--ion-menu-bg);
      ion-item {
        --background: var(--ion-menu-bg);
        --color: var(--ion-color-secondary);
      }
    }
  }
}

@media (min-width: 990px) {
  .hide-ipad {
    display: none;
  }
}

ion-content {
  --keyboard-offset: 0!important;
}
