.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .topico {
    padding: 10px 5px;
    background: #f1f1f1;
    border-bottom: 1px solid var(--ion-border-color, #cccccc);
    font-size: 15px;
    overflow-y: scroll;
    width: auto;
    font-style: italic;
    white-space: nowrap;
  }
  .content {
    height: 100%;
    background: url('../../assets/pattern.svg');
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: hidden;
    ion-list {
      --background: transparent;
      background-color: transparent;
      ion-item {
        --background: transparent;
        background-color: var(--message-box);
        border-radius: 10px;
        margin: 10px;
        header {
          font-weight: bold;
          color: #181918;
        }
        section {
          white-space: initial;
        }
      }
    }
  }
  .inputBox {
    padding: 5px;
    background: var(--ion-tab-bar-background);
    border-top: 1px solid var(--ion-tab-bar-border-color);
    input {
      width: 100%;
      border: none;
      padding: 5px 0px;
      outline: none;
      background: transparent;
      color: var(--ion-tab-bar-color-selected);
    }
  }
}

ion-menu {
  ion-content {
    --background: var(--ion-menu-bg);
    ion-list {
      background: var(--ion-menu-bg);
      ion-item {
        --background: var(--ion-menu-bg);
        --color: var(--ion-color-secondary);
      }
    }
  }
}

@media (min-width: 990px) {
  .hide-ipad {
    display: none;
  }
}
