<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="canales"></ion-back-button>
    </ion-buttons>
    <ion-title>{{channelHash}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openUsers()">
        <ion-icon slot="icon-only" icon="people-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="topico" *ngIf="channel.topic">{{channel.topic}}</div>
    <div class="content">
      <div class="bubble" *ngFor="let msg of channel.messages">
        <div class="avatar">
          <img [src]="'https://thira.tandilserver.com/avatar?usr='+msg.author" />
        </div>
        <div class="body">
          <header>
            <span class="name">{{msg.author}}</span>
            <!-- <span class="date">{{msg.date}}</span> -->
          </header>
          <section>
            {{msg.content}}
          </section>
        </div>
      </div>
    </div>
    <div class="inputBox">
      <input type="text" placeholder="Mensaje" [(ngModel)]="message" (keypress)="kp($event)"/>
    </div>
  </div>
</ion-content>
