<!-- <ion-content> -->
  <!-- <ion-searchbar placeholder="Privado"></ion-searchbar> -->
  <ion-list *ngIf="privs && privs.length > 0">
    <ion-list-header>
      <ion-label>{{'PRIVATES.TITLE' | translate}}</ion-label>
      <ion-button type="block" (click)="newPriv()" color="primary">
        <ion-icon name="add-circle-sharp"></ion-icon>
      </ion-button>
    </ion-list-header>

    <ion-item-sliding *ngFor="let privChat of privs">
      <ion-item (click)="openChat(privChat.name)" lines="none" class="ion-activatable ripple-parent">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="start" name="chatbox-ellipses-sharp"></ion-icon>
        <ion-label>{{privChat.name}}</ion-label>
        <ion-badge slot="end" color="primary" *ngIf="privChat.notifications > 0">{{privChat.notifications}}</ion-badge>
      </ion-item>
      <ion-item-options side="end" (click)="removeChat(privChat.name)">
        <ion-item-option color="danger">{{'PRIVATES.CLOSE' | translate}}</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="placeholder" *ngIf="!this.privs || this.privs.length == 0">
    <img src="assets/b612.png"/>
    <h4>{{'PRIVATES.NO_DM' | translate}}</h4>
    <p>
      {{'PRIVATES.OPEN_DM' | translate}}
    </p>
    <ion-button (click)="newPriv()">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-button>
  </div>

<!-- </ion-content> -->
