<ion-header>
  <ion-toolbar>
    <ion-title>Hirana.net</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="fullLogin()">
        <ion-icon slot="icon-only" ios="cog-sharp" md="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logoContainer">
    <img src="assets/logo.png" class="logo"/>
  </div>
  <section>
    <ion-item-group>
      <ion-item lines="none">
        <ion-label position="floating">Nick</ion-label>
        <ion-input [(ngModel)]="nick"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-button expand="block" (click)="simpleLogin()">Login</ion-button>
  </section>
</ion-content>
