div.container {
  height: 100%;
  ion-grid {
    height: 100%;
    ion-row {
      height: 100%;
      ion-col {
        background: rgb(0 0 0 / 10%);
        ion-button {
          margin-bottom: 15px;
        }
      }
    }
  }
  ion-button {
    margin: 0px 15px;
    margin-top: 5px;
  }
}

input {
  border: 0px;
  border-bottom: 2px solid var(--input-bg-color);
  color: var(--input-font-color);
  padding: 5px;
  outline: none;
  margin-bottom: 5px;
  width: calc(100% - 15px);
  background: transparent;
}
.logoContainer {
  display: flex;
  justify-content: center;
  img {
    border: 0;
    width: 30vw;
  }
}
.hr {
  text-align: center;
  position: relative;
  margin-top: 25px;
  span {
    background: var(--ion-background-color);
    position: relative;
    padding: 5px;
    z-index: 1;
  }
  &::after {
    content: "";
    display: block;
    height: 1px;
    background: gray;
    position: absolute;
    top: 50%;
    width: 50%;
    right: 0px;
  }
  &::before {
    content: "";
    display: block;
    height: 1px;
    background: gray;
    position: absolute;
    top: 50%;
    width: 50%;
  }
}
