<ion-header>
  <ion-toolbar>
    <ion-title>Hirana.net</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" (click)="fullLogin()">
        <ion-icon slot="icon-only" ios="cog-sharp" md="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="logoContainer" *ngIf="!landscape">
      <img src="assets/logo.png" class="logo"/>
    </div>
    <ion-list *ngIf="!landscape">
      <ion-list-header lines="full">
        <ion-label>
          {{ 'LOGIN.ANON_LOGIN' | translate }}
        </ion-label>
      </ion-list-header>
      <ion-item-group>
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'LOGIN.NICK' | translate }}</ion-label>
          <input [(ngModel)]="nick" />
        </ion-item>
      </ion-item-group>
      <ion-button expand="block" (click)="simpleLogin()">{{ 'LOGIN.LOGIN' | translate }}</ion-button>
      <ion-list-header lines="full">
        <ion-label>
          {{ 'LOGIN.ACCOUNT_LOGIN' | translate }}
        </ion-label>
      </ion-list-header>
      <ion-item-group>
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'LOGIN.NICK' | translate }}</ion-label>
          <input [(ngModel)]="nick2" />
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
          <input type="password" [(ngModel)]="password" />
        </ion-item>
      </ion-item-group>
      <ion-button expand="block" (click)="passwordLogin()">{{ 'LOGIN.LOGIN' | translate }}</ion-button>
    </ion-list>
    <ion-content *ngIf="landscape">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-list-header lines="full">
                <ion-label>
                  {{ 'LOGIN.ANON_LOGIN' | translate }}
                </ion-label>
              </ion-list-header>
              <ion-item-group>
                <ion-item lines="none">
                  <ion-label position="stacked">{{ 'LOGIN.NICK' | translate }}</ion-label>
                  <input [(ngModel)]="nick" />
                </ion-item>
              </ion-item-group>
              <ion-button expand="block" (click)="simpleLogin()">{{ 'LOGIN.LOGIN' | translate }}</ion-button>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header lines="full">
                <ion-label>
                  {{ 'LOGIN.ACCOUNT_LOGIN' | translate }}
                </ion-label>
              </ion-list-header>
              <ion-item-group>
                <ion-item lines="none">
                  <ion-label position="stacked">{{ 'LOGIN.NICK' | translate }}</ion-label>
                  <input [(ngModel)]="nick2" />
                </ion-item>
                <ion-item lines="none">
                  <ion-label position="stacked">{{ 'LOGIN.PASSWORD' | translate }}</ion-label>
                  <input type="password" [(ngModel)]="password" />
                </ion-item>
              </ion-item-group>
              <ion-button expand="block" (click)="passwordLogin()">{{ 'LOGIN.LOGIN' | translate }}</ion-button>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</ion-content>
