<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{privName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="content">
      <ion-list *ngIf="chat" lines="none" id="list-msg" (scroll)="onScroll($event)">
        <ion-item *ngFor="let msg of chat.messages" class="ion-activatable ripple-parent">
          <ion-avatar slot="start">
            <img [src]="'https://thira.tandilserver.com/avatar?usr='+msg.author" />
          </ion-avatar>
          <ion-label>
            <header>
              <span class="name">{{msg.author}}</span>
            </header>
            <section>
              {{msg.content}}
            </section>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="content" *ngIf="!chat || chat.messages.length == 0">
      <div class="placeholder">
        <img src="assets/b612.png"/>
        <h4>
          {{'NO_MESSAGES' | translate}}
        </h4>
      </div>
    </div>
    <div class="newMessages" *ngIf="newMessagesWithoutRead" (click)="_scrollToBottom()">
      {{'NEW_MESSAGES' | translate}}
    </div>
    <div class="inputBox">
      <input type="text" [placeholder]="'MESSAGE' | translate" [(ngModel)]="message" (keypress)="kp($event)"/>
    </div>
  </div>
</ion-content>
