<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{privName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="content" *ngIf="chat">
      <div class="bubble" *ngFor="let msg of chat.messages">
        <div class="avatar">
          <img [src]="'https://thira.tandilserver.com/avatar?usr='+msg.author" />
        </div>
        <div class="body">
          <header>
            <span class="name">{{msg.author}}</span>
          </header>
          <section>
            {{msg.content}}
          </section>
        </div>
      </div>
    </div>
    <div class="content" *ngIf="!chat">
      No hay mensajes
    </div>
    <div class="inputBox">
      <input type="text" placeholder="Mensaje" [(ngModel)]="message" (keypress)="kp($event)"/>
    </div>
  </div>
</ion-content>
