<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        Cuenta
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Nick</ion-label>
      <ion-input placeholder="placeholder" [(ngModel)]="nick" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Avatar</ion-label>
      <ion-button expand="full" (click)="openPopupFile()" [disabled]="true">
        <ion-label slot="end">Seleccionar imagen</ion-label>
        <input type="file" (change)="loadImageFromDevice($event)" id="file-input" accept="image/png, image/jpeg">
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Version</ion-label>
      <ion-label slot="end">Alpha</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Codename</ion-label>
      <ion-label slot="end">Moon Wish</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">IRCore Version</ion-label>
      <ion-label slot="end">3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Author</ion-label>
      <ion-label slot="end">Hirana.net</ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="start">Server</ion-label>
      <ion-label>{{serverName}}</ion-label>
    </ion-item>
  </ion-list>
  <footer>
    <ion-button expand="full" color="danger" (click)="wipe()">
      <ion-icon slot="start" icon="trash-sharp"></ion-icon>
      Wipe data
    </ion-button>
    <ion-button expand="full" color="warning" (click)="logout()">
      <ion-icon slot="start" icon="log-out-sharp"></ion-icon>
      Logout
    </ion-button>
  </footer>
</ion-content>
