ul {
  padding: 0px;
  list-style: none;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    background: #efefef;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px 0px;
    .nick {
      width: 100%;
    }
    .imageContainer {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}
