<ion-header>
  <ion-toolbar>
    <ion-title>users in {{channel.hashedName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ul>
    <li *ngFor="let user of channel.users" class="ion-activatable ripple-parent" (click)="openPriv(user.fullNick.nick)">
      <div class="nick">
        <div class="imageContainer">
          <img [src]="'https://thira.tandilserver.com/avatar?usr='+user.fullNick.nick" />
        </div>
        {{user.fullNick.nick}}<span *ngIf="user.fullNick.origin">@{{user.fullNick.origin}}</span>
      </div>
      <div class="badges" *ngIf="user.chanModes && user.chanModes[channel.name]">
        <app-badges [channelModes]="user.chanModes[channel.name]"></app-badges>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </li>
  </ul>
</ion-content>
