<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608715160069-8n8df8b557v2h8ii07ka8ut4q08j67qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608715160069-8n8df8b557v2h8ii07ka8ut4q08j67qg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608715160069-0594qqtep5srk7so0ci67jfe13vn18ph.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGeoE9F5mZlGqFKUY9HoLuBXggvPcLjig</string>
	<key>GCM_SENDER_ID</key>
	<string>608715160069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.hirana.mobile</string>
	<key>PROJECT_ID</key>
	<string>hirana</string>
	<key>STORAGE_BUCKET</key>
	<string>hirana.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608715160069:ios:7c65a0a376879b880eba6c</string>
</dict>
</plist>