.placeholder {
  text-align: center;
  margin: 0px 5px;
  color: var(--placeholder-color);
  ion-icon {
    color: var(--color);
  }
  .btnMock {
    background-color: var(--ion-color-primary, #3880ff);
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: var(--ion-color-primary-contrast, #fff);
  }
}
