<ion-content>
  <ion-searchbar placeholder="Canales"></ion-searchbar>
  <ion-list *ngIf="this.channels && this.channels.length > 0">
    <ion-list-header>
      Canales
    </ion-list-header>

    <ion-item-sliding *ngFor="let channel of channels">
      <ion-item (click)="openChannel(channel.name)" lines="none" class="ion-activatable ripple-parent">
        <ion-icon slot="start" name="chatbubbles-sharp"></ion-icon>
        <ion-label>{{channel.name}}</ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>
      <ion-item-options side="end" (click)="leave(channel.name)">
        <ion-item-option color="danger">Leave</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <div class="placeholder" *ngIf="!this.channels || this.channels.length == 0">
    <img src="assets/b612.png" (click)="debug()"/>
    <h4>No tienes canales!</h4>
    <p>
      Unete a un canal con el botón de <span class="btnMock">+</span> <br/>
      O explora la lista (<ion-icon name="albums-sharp"></ion-icon>) de canales
    </p>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addServer()">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
