<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'LOGIN.FULL_TITLE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          {{'LOGIN.SERVER' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>{{'LOGIN.SERVER_HOST' | translate}}</ion-label>
        <ion-input placeholder="irc.hirana.net" [(ngModel)]="serverHost"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'LOGIN.SERVER_PORT' | translate}}</ion-label>
        <ion-input type="number" placeholder="443" [(ngModel)]="serverPort"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'LOGIN.WITH_TLS' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="withSSL"></ion-toggle>
      </ion-item>
      <ion-list-header lines="full">
        <ion-label>
          {{'LOGIN.USER' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>{{'LOGIN.NICK' | translate}}</ion-label>
        <ion-input placeholder="MyNick" [(ngModel)]="nick"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'LOGIN.ALTNICK' | translate}}</ion-label>
        <ion-input placeholder="MyNick_" [(ngModel)]="altNick"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'LOGIN.BOUNCER' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="withBouncer"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'LOGIN.U_B' | translate}}</ion-label>
        <ion-input placeholder="MyAccount" [(ngModel)]="user" [disabled]="!withBouncer"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'LOGIN.P_B' | translate}}</ion-label>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password" [disabled]="!withBouncer"></ion-input>
      </ion-item>
      <ion-list-header lines="full">
        <ion-label>
          {{'LOGIN.GATEWAY' | translate}}
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>{{'LOGIN.WWS' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="withWebSocket"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>{{'LOGIN.GATEWAY_SERVER' | translate}}</ion-label>
        <ion-input placeholder="wss://wircg.tandilserver.com/webirc/websocket/" [(ngModel)]="ircGateway" [disabled]="withWebSocket"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'LOGIN.GATEWAY_PORT' | translate}}</ion-label>
        <ion-input placeholder="443" type="number" [(ngModel)]="ircGatewayPort" [disabled]="withWebSocket"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="connect()">
      {{'LOGIN.CONNECT' | translate}}
    </ion-button>
</ion-content>
